// COLORS
:root {
--burger-line-height: 2.5px;
--burger-width: 40px;
--burger-height: 20px;
}
.green{
    --main-color: #35CD8C;
    --main-bg: #35CD8C;
  }
  .red{
    --main-color: #FE043C;
    --main-bg: #FE043C;
  }
$white-color: #fff;
$black-color: #000000;
$blue-color: #2E266F;
$orange-color: #FE043C;
$grey-color: #707070;
$dark-green: #31A24C;
$light-green: #35CD8C;
$light-pink: #FFF5EC;
$pink-color: #FFEDDE;

