<section class="advance">
  <div class="advance-leave advance-leave-left">
    <img class="advance-leave-left-img" src="img/advance-letter-min.png" alt="">
  </div>
  <div class=" advance-leave advance-leave-right">
    <img  class="advance-leave-right-img" src="img/advance-letter-2-min.png" alt="">
  </div>
  <div class="container advance-content">
    <div class="row">
      <div class=" advance-content__items">
        <div class="food-block-content-dots-right-content advance-content__items-dots">
            <div class="food-block-content-dots-right-horizontal advance-content__items-dots-horizontal"></div>
            <div class="food-block-content-dots-right-vertical advance-content__items-dots-vertical"></div>
        </div>
        <div class="food-block-content-dots-right-content advance-content__items-dots advance-content__items-dots-left">
            <div class="food-block-content-dots-right-horizontal advance-content__items-dots-horizontal advance-content__items-dots-horizontal-left"></div>
            <!-- <div class="food-block-content-dots-right-vertical advance-content__items-dots-vertical advance-content__items-dots-vertical-left"></div> -->
        </div>
        
        <div class="advance-content-line green-bg"></div>
        <h2 class="title advance-title">advance booking</h2>
        <form action="" class="advance-search-form">
          <div class="header-search advance-search">
            <div class="header-search__items header-search__items-text advance-search__items-text">
              <input type="text" class="header-search__item header-search__item-text advance-search__item-text"
                placeholder="Search Restaurant">
            </div>
            <div class="header-search__items header-search__items-submit  advance-search__items-submit">
              <div class="header-search__items-submit-border advance-search__items-submit-border green-bg">
                <input type="submit"
                  class="header-search__item header-search__item-submit advance-search__item advance-search__item-submit"
                  value="Go">
              </div>
            </div>
          </div>
        </form>
        <div class="advance-content-block">
            <div class="advance-content-date">
                <div class="advance-content-date-title">
                  <a class="advance-content-date-title-text">
                    date
                  </a>
                  <i class="fa fa-caret-down advance-content-date-title-arrow"></i>
                </div>
                <div class="advance-content-date-input">
                  <input id="tel" class="advance-content-date-input__item" type="date">
                </div>
      
              </div>
              <div class="advance-content-date">
                <div class="advance-content-date-title">
                  <a class="advance-content-date-title-text">
                    Time
                  </a>
                  <i class="fa fa-caret-down advance-content-date-title-arrow"></i>
                </div>
                <div class="advance-content-date-input">
                  <input class="advance-content-date-input__item" type="time"> PM</div>
              </div>
              <div class="advance-content-date">
                <div class="advance-content-date-title">
                  <a class="advance-content-date-title-text">
                    Guests
                  </a>
                  <i class="fa fa-caret-down advance-content-date-title-arrow"></i>
                </div>
                <div class="advance-content-date-input">
                  <input class="advance-content-date-input__item" id="people" type="text" maxlength="2" placeholder="00"> People</div>
      
              </div> 
        </div>

      </div>
    </div>
  </div>
</section>
