<section class="download">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 download-block ">
        <div class="download-centerMode">
          <div class="download-block-text">
            <div class="food-block-line services-block-line download-block-text-line green-bg"></div>
            <h5 class="title download-title">Download app for
              Exciting Deals
            </h5>
          </div>
          <div class="download-content">
            <span class="subtitle download-block-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus
              senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt.
            </span>
          </div>
          <div class="download-block-link">
            <a href="https://play.google.com/store" class="download-block-link__item">
              <!-- <span class="icon-download-appleapple"></span> -->
              <span class="icon-download-appledownload-google"></span>
              <div class="download-block-link__item-text">
                <span class="download-block-link__item-text-get">GET IT ON</span>
                <span class="download-block-link__item-text-play">google Play</span>
              </div>
            </a>
            <a href="https://www.apple.com/ru/app-store/" class="download-block-link__item">
              <span class="icon-download-appleapple"></span>
              <!-- <span class="icon-download-appledownload-google"></span> -->
              <div class="download-block-link__item-text">
                <span class="download-block-link__item-text-get">Download on the</span>
                <span class="download-block-link__item-text-play">App Store</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 offset-xl-1 download-block">
        <div class="download-block-img">
          <img class="download-block-img__item" src="img/download-phone2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
