<section class="explore">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 explore-title__items">
                <h2 class="title explore-title">
                    Explore Our Foods
                </h2>
                <h5 class="subtitle explore-subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed
                    phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat
                    metus id amet.
                </h5>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="explore-block">
                    <div class="explore-block-img">
                        <img class="explore-block-img__item" src="img/explore-1.png" alt="">
                    </div>
                    <div class="explore-block-text">
                        <div class="explore-block-text-card">
                            <h5 class="explore-block-text-title">
                                Hand Sandwich
                            </h5>
                            <span class="explore-block-text-price green-color">$10.25</span>
                        </div>
                        <span class="explore-block-text-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing.
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="explore-block">
                    <div class="explore-block-img">
                        <img class="explore-block-img__item" src="img/explore-2.png" alt="">
                    </div>
                    <div class="explore-block-text">
                        <div class="explore-block-text-card">
                            <h5 class="explore-block-text-title">
                                Hand Sandwich
                            </h5>
                            <span class="explore-block-text-price green-color">$10.25</span>
                        </div>
                        <span class="explore-block-text-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing.
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="explore-block">
                    <div class="explore-block-img">
                        <img class="explore-block-img__item" src="img/explore-3.png" alt="">
                    </div>
                    <div class="explore-block-text">
                        <div class="explore-block-text-card">
                            <h5 class="explore-block-text-title">
                                Hand Sandwich
                            </h5>
                            <span class="explore-block-text-price green-color">$10.25</span>
                        </div>
                        <span class="explore-block-text-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing.
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="explore-block">
                    <div class="explore-block-img">
                        <img class="explore-block-img__item" src="img/explore-4.png" alt="">
                    </div>
                    <div class="explore-block-text">
                        <div class="explore-block-text-card">
                            <h5 class="explore-block-text-title">
                                Hand Sandwich
                            </h5>
                            <span class="explore-block-text-price green-color">$10.25</span>
                        </div>
                        <span class="explore-block-text-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing.
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="explore-block">
                    <div class="explore-block-img">
                        <img class="explore-block-img__item" src="img/explore-5.png" alt="">
                    </div>
                    <div class="explore-block-text">
                        <div class="explore-block-text-card">
                            <h5 class="explore-block-text-title">
                                Hand Sandwich
                            </h5>
                            <span class="explore-block-text-price green-color">$10.25</span>
                        </div>
                        <span class="explore-block-text-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing.
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="explore-block">
                    <div class="explore-block-img">
                        <img class="explore-block-img__item" src="img/explore-6.png" alt="">
                    </div>
                    <div class="explore-block-text">
                        <div class="explore-block-text-card">
                            <h5 class="explore-block-text-title">
                                Hand Sandwich
                            </h5>
                            <span class="explore-block-text-price green-color">$10.25</span>
                        </div>
                        <span class="explore-block-text-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing.
                        </span>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>