<section class="food">
  <div class="container">
    <div class="row food-row">
      <div class="col-xl-6 col-lg-8 food-block">
        <div class="food-block-line green-bg"></div>
        <h2 class="title food-block-title">some top restaurant for
          dining in or Take away!</h2>
      </div>
      <div class="col-xl-6 col-lg-4 food-subtitle">
        <span class="subtitle food-subtitle__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus
          senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id amet, nam hac
          magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Est, adipiscing cursus auctor eget sed.
        </span>
      </div>
    </div>
  </div>
  <div class="container-fluid food-container-fluid">
    <div class="row food-container-row food-slider">
      <div class="food-block-content-dots-left"></div>
      <div class="food-slider-line">
        <div class="food-block-content food-block-content__item-first">
          <div class="food-block-content-img">
            <img class="food-block-content-img__item" src="img/food-img-1.png" alt="">
          </div>
          <div class="food-block-content-text red-bg-opacity">
            <h5 class="food-block-content-text-title">Fire Water</h5>
            <span class="food-block-content-text-subtitle">we are all about we are all about to the fullest and all
              content
              dining out or in!dining out or in!</span>
            <a href="" class="food-block-content-text-link"><i
                class="fa fa-map-marker food-block-content-text-link-fa"></i>New Market</a>

          </div>
          <div class="food-block-content-text-buy">
            <a href="" class="food-block-content-text-buy-link green-color">buy now</a>
          </div>
        </div>
        <div class="food-block-content food-block-content__item-second">
          <div class="food-block-content-img">
            <img class="food-block-content-img__item" src="img/food-img-1.png" alt="">
          </div>
          <div class="food-block-content-text red-bg-opacity">
            <h5 class="food-block-content-text-title">Fire Water</h5>
            <span class="food-block-content-text-subtitle">we are all about we are all about to the fullest and all
              content
              dining out or in!dining out or in!</span>
            <a href="" class="food-block-content-text-link"><i
                class="fa fa-map-marker food-block-content-text-link-fa"></i>New Market</a>

          </div>
          <div class="food-block-content-text-buy">
            <a href="" class="food-block-content-text-buy-link green-color">buy now</a>
          </div>
        </div>
        <div class="food-block-content food-block-content__item-third">
          <div class="food-block-content-img">
            <img class="food-block-content-img__item" src="img/food-img-2.png" alt="">
          </div>
          <div class="food-block-content-text red-bg-opacity">
            <h5 class="food-block-content-text-title">The Wonton</h5>
            <span class="food-block-content-text-subtitle">we are all about we are all about to the fullest and all
              content dining out or in!dining out or in!</span>
            <a href="" class="food-block-content-text-link"><i
                class="fa fa-map-marker food-block-content-text-link-fa"></i>Saheb Bazar</a>
          </div>
          <div class="food-block-content-text-buy">
            <a href="" class="food-block-content-text-buy-link green-color">buy now</a>
          </div>
          <div class="food-block-content-dots-right">
            <div class="food-block-content-dots-right-content">
              <div class="food-block-content-dots-right-horizontal"></div>
              <div class="food-block-content-dots-right-vertical"></div>
            </div>
          </div>
        </div>
        <div class="food-block-content food-block-content-arrow food-slider-line__item-invisible">
          <div class="food-block-content-arrow__item">
            <div class="food-block-content-arrow__item-link">
              <div class="food-line">
                <div class="food-block-content-arrow__item-link-img  green-bg">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
              <p class="food-block-content-arrow__item-link-text green-color">see more</p>
            </div>
          </div>
        </div>
      </div>
      <div class="header-slider-arrows food-slider-arrows">
        <button class="food-slider__next"><img class="slider__next" src="img/slider-arrow-left.svg" alt=""></button>
        <button class="food-slider__prev food-slider__next"><img class="slider__next" src="img/slider-arrow-right.svg"
            alt=""></button>
      </div>
    </div>
  </div>
</section>
