<footer class="footer">
	<div class="footer-leaf"><img class="footer-leaf__item" src="img/footer-leaf.png" alt=""></div>
	<div class="container">
		<div class="row">
			<div class="footer-content">
				<h2 class="title footer-title">Get notified <br> about new amazing products</h2>
				<!-- <h2 class="title footer-title"></h2> -->
				<span class="subtitle footer-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. </span>
		
				<form action="" class="advance-search-form footer-search-form">
					<div class="header-search advance-search footer-search">
					  <div class="header-search__items header-search__items-text advance-search__items-text footer-search__items-text">
						<input placeholder="E-mail" class="header-search__item header-search__item-text advance-search__item-text footer-search__item-text">
					  </div>
					  <div class="header-search__items header-search__items-submit  advance-search__items-submit footer-search__items-submit">
						<div class="header-search__items-submit-border advance-search__items-submit-border footer-search__items-submit-border green-bg">
						  <input type="submit"
							class="header-search__item header-search__item-submit advance-search__item advance-search__item-submit footer-search__item-submit green-bg" value=" ">
						</div>
					  </div>
					</div>
				  </form>
				  <nav class="footer-nav">
					  <ul class="footer-nav-list">
						  <li class="footer-nav-list__item"><a href="" class="footer-nav-list__item-link">Product</a></li>
						  <li class="footer-nav-list__item"><a href="" class="footer-nav-list__item-link">Company</a></li>
						  <li class="footer-nav-list__item"><a href="" class="footer-nav-list__item-link">Learn more</a></li>
						  <li class="footer-nav-list__item"><a href="" class="footer-nav-list__item-link">Get in touch</a></li>
					  </ul>
				  </nav>
			</div>
			<div class="footer-bottom">
				<ul class="footer-bottom-list">
					<li class="footer-bottom-list__item"><a href="" class="footer-bottom-list__item-link"><i class="fa fa-facebook"></i></a></li>
					<li class="footer-bottom-list__item"><a href="" class="footer-bottom-list__item-link"><i class="fa fa-twitter"></i></a></li>
					<li class="footer-bottom-list__item"><a href="" class="footer-bottom-list__item-link"><i class="fa fa-linkedin"></i></a></li>
					<li class="footer-bottom-list__item"><a href="" class="footer-bottom-list__item-link"><i class="fa fa-behance"></i></a></li>
				</ul>
				<span class="footer-bottom-copyright">&copy 2020 Expice Studio</span>
			</div>
		</div>
	</div>
</footer>
