<header class="header">
  <a class="header-link green-bg" href=""><i class="fa fa-map-marker header-link-icon"></i>Rajshahi
  </a>
  <div class="container">
    <div class="header-green-block green-bg"></div>
    <div class="row">
      <div class="col-xl-12">
        <nav class="header-nav">
          <div class="header-nav-logo col-xl-2 col-lg-3">
            <a class="header-nav-logo-link green-color" href="index.html">
              expice
            </a>
          </div>
          <div class="header-nav-container col-xl-10">
            <div class="header-nav-list col-xl-5 offset-xl-1 col-lg-7">
              <ul class="header-nav-list__items">
                <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="">Menu one</a></li>
                <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="">Menu two</a></li>
                <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="">Menu three</a></li>
                <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="">Menu four</a></li>
              </ul>
            </div>
            <div class="header-nav-user col-xl-3 offset-xl-3 col-lg-3 offset-lg-2">
              <div class="header-nav-user__item">
                <img class="header-nav-user__item-img" src="img/header-user-logo.svg" alt="">
                <span class="header-nav-user__item-text">User </span><i
                  class="fa fa-angle-down header-nav-user__item-icon"></i>
              </div>
              <!-- переключалка -->
              <div class="header-nav-user-color">
                <div class="switch-btn"></div>
              </div>
            </div>
          </div>
          <div class="header-burger col-xl-2 col-lg-2">
            <div class="burger">
              <div class="burger__line"></div>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 header-content">
        <div class="header-title">
          <h1 id="main-title" class="title header-title__item">Food</h1>
          <h2 class="subtitle header-subtitle">
            Discover Restaurant & Delicious Food
          </h2>
          <form class="header-form" action="">
            <div class="header-search">
              <div class="header-search__items header-search__items-text">
                <input type="text" class="header-search__item header-search__item-text"
                  placeholder="Search Restaurant, Food">
              </div>
              <div class="header-search__items header-search__items-submit">
                <div class="header-search__items-submit-border green-bg">
                  <input type="submit" class="header-search__item header-search__item-submit" value="Go">
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="header-slider-block"></div>
        <div class="header-slider">
          <div class="header-slider__line">
            <div class="header-slider__items">
              <img class="header-slider__items-img" src="img/header-slider-item1.png" alt="">
            </div>
            <div class="header-slider__items">
              <img class="header-slider__items-img" src="img/header-slider-item1.png" alt="">
            </div>
            <div class="header-slider__items">
              <img class="header-slider__items-img" src="img/header-slider-item1.png" alt="">
            </div>
            <div class="header-slider__items">
              <img class="header-slider__items-img" src="img/header-slider-item1.png" alt="">
            </div>
          </div>
          <div class="header-slider-arrows">
            <button class="slider__next"><img class="slider__next" src="img/slider-arrow-left.svg" alt=""></button>
            <button class="slider__prev slider__next"><img class="slider__next" src="img/slider-arrow-right.svg"
                alt=""></button>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
