<section class="services">
  <div class="container services-container-title">
    <div class="row">
      <div class="col-xl-3 col-lg-5 food-block services-block">
        <div class="food-block-line services-block-line green-bg"></div>
        <h2 class="title food-block-title services-title">Our Services</h2>
      </div>
      <div class="col-xl-5 col-lg-7 offset-xl-1 food-subtitle services-subtitle">
        <span class=" subtitle food-subtitle__item services-subtitle__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id amet, nam hac magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed.
        </span>
      </div>
    </div>
  </div>
  <div class="services-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-12 services-content-block services-content-block-leftPart">
          <div class="services-content-block__item services-content-block__item-topElement ">
            <!-- <img src="img/services-icon-1.svg" alt=""> -->
            <div class="services-content-block__item-topElement-img">
              <span class="icon-download-appleservice-1 green-color"></span>
            </div>
            <div class="services-content-block-text services-content-block-text-topElement">
              <div class="services-content-block-text-title-topElement-main">
                <h4 class="services-content-block-text-title services-content-block-text-title-topElement">
                  advanced table booking
                </h4>
                <div class="services-content-block-text-line services-content-block-text-line-topElement green-bg">
                </div>
                <!-- стрелка влево  -->
                <div class="services-content-block-text-line-topElement-arrow ">
                  <span class="services-arrow-line services-content-block-text-line-topElement-arrow-line green-bg"></span>
                  <div class="services-arrow services-content-block-text-line-topElement-arrow-line__item green-bg"></div>
                  <!-- <span class="icon-download-appleservices-arrow-left green-color"></span> -->
                </div>
                <!-- конец стрелки влево -->
                <span class="services-content-block-text-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. </span>
              </div>
            </div>
          </div>
          <div
            class="services-content-block__item services-content-block__item-topElement services-content-block__item-botElement ">

            <div
              class="services-content-block-text services-content-block-text-topElement services-content-block-text-botElement">
              <div
                class="services-content-block-text-title-topElement-main services-content-block-text-title-botElement-main">
                <div
                  class="services-content-block-text-title services-content-block-text-title-topElement services-content-block-text-title-botElement services-left-correction">
                  <h4 class="services-content-block-text-title services-content-block-text-title-topElement
                            services-content-block-text-title-botElement services-left-correction-text">
                    Food For Free
                  </h4>
                  <span
                    class="services-content-block-text-title services-content-block-text-title-topElement
                            services-content-block-text-title-botElement services-left-correction-text-span">24/7</span>

                </div>
                <div
                  class="services-content-block-text-line services-content-block-text-line-topElement services-content-block-text-line-botElement green-bg">
                </div>
                <!-- стрелка влево  -->
                <div class="services-content-block-text-line-topElement-arrow services-content-block-text-line-topElement-arrow-right">
                  <span class="services-arrow-line services-content-block-text-line-topElement-arrow-line green-bg"></span>
                  <div class="services-arrow services-content-block-text-line-topElement-arrow-line__item green-bg"></div>
                </div>
                <!-- конец стрелки влево -->
                <span class="services-content-block-text-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. </span>
              </div>
            </div>
            <div class="services-content-block__item-botElement-img">
              <!-- <img src="img/services-icon-2.svg" alt=""> -->
              <span class="icon-download-appleservices-icon-2 green-color"></span>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 services-content-block services-content-block-right">
          <!-- <img class="services-content-block-right-img" src="img/services-icon-3.svg" alt=""> -->

          <span class="icon-download-appleservices-icon-3 green-color"></span>
          <div class="services-content-block-text services-content-block-right-text">
            <h4 class="services-content-block-text-title services-content-block-right-text-title">
              free home delivery
              at your door steps
            </h4>
            <span class="services-content-block-text-subtitle services-content-block-right-text-subtitle">Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. </span>
            <div class="services-content-block-text-line services-content-block-right-text-line green-bg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
